.bannerCard{
    z-index: 0;
    position: relative;
    box-sizing: border-box;
    height: 100vh ;
    width: 100vw;
   
}
.card{
    position: relative;
    border-radius: 0 !important;
    height: 100% o !important;
}
.card-img{
    height: 100%;
    /* width: 100%; */
    /* width: inherit; */
    max-width: 100% ;
    object-fit: contain;
    filter: brightness(0.6) ;
}
.overview-text{
    max-width: 80%;
    margin: 0 auto;
}
.card-img-overlay{
    width: 100%;
    height: 100%;
}
.enter > Button{
    background-color: #3A4265;
    padding: 0.5rem 1rem;
}
.enter > Button:hover{
    background-color: #6859F3;
}