.header{
    z-index: 5000;
    /* height: 100px;  */
}
.header_right_search > label > .MuiSvgIcon-root{
    color: lightgray;
}
.header_right_search > label{
    border: 1px solid lightgray;
}
.header_right_search > label:focus-within{
    box-shadow: 0 0 10px 0 lightgray;
    border: none;
}
.header_right_search > label > input{
    border: none;
}

.header_right_search > label > input:focus{
    outline-width: 0;
    outline-color: none;
}
.header_right_search > label > input:focus + .searchIcon{
    color: black;
}
.sideGroup{
    display: none !important;
}
removing the outer border of dropdown  
.dropdown-toggle:focus-within{

    border: none !important;
}
.MuiButtonBase-root{
    border-radius: 50% !important;
} 
.dropdown-menu{
    /* styliing for dropdown menu  */
}

@media screen and (max-width: 746px){
    .title{
        display: none;
    }
    .sideGroup{
        display: inline-block !important;
    }
}