.worker{
    margin: 1rem auto;
    max-width: 1000px;
    
}
.worker-carousel{
    display: flex;
    gap: 100px !important;
    padding: 10px;
}
.worker-carousel-item{
    width: 100%;
    padding: 5rem;
}