.doctor{
    margin-bottom: 10rem;
    background-color: #F4F7FC;
    border-radius: 0.8rem;
    margin-top: 1rem;

}
.showbtn{
    background-color: #3A4265 !important;
    color: white !important;
}
.showbtn:hover{
    background-color: #6859F3 !important;
}