.owl-carousel{
    padding-top: 1rem;
    padding-left: 0.5rem;
    background-color: #F4F7FC;
    border-radius: 0.8rem;
}
.owl-item{
    height: 100% !important;
    padding: 10px;
    transition: transform ease-in-out 450ms;
}
.owl-item:hover{
    transform: scale(1.08);
}
.item{
    position: relative !important;
}
/* endAdornment={<InputAdornment position="end">&deg;F</InputAdornment>} */
.divider{
    color: red !important;
}
.dashboard button{
    background-color: #3A4265;
    color: white;
    
}
.dashboard .MuiCardHeader-title{
    font-size: 20px;
    font-weight: 600;
}

.dashboard button:hover{
    background-color: #6859F3;
}
.owl-prev{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}
.owl-prev:hover{
    background-color: #6859F3 !important;
}
.owl-next{
    width: 2rem;
    height: 2rem;

}
.owl-next:hover{
    background-color: #6859F3 !important;
}
