.onlineDoctor{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* width: 200px; */
    flex: 0.2;
    flex-shrink: 0;
    height: 100vh;
    background-color: #F4F7FC;
    margin: 0;
    /* padding: 2rem; */
    /* margin-left: 2rem; */
    position: sticky;
    z-index: 1000;
    overflow-y: hidden;
}